
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   list-style-type: none;
   text-decoration: none;
}
body{
    min-height: 100vh;
    background-color: fff;
}

.nav__menu{
    /* dikeyde ekrana sabitlemek için ekran aşağı indikce menüde iner */
   position: fixed;
   top: 20px;
   left: 20px;
   bottom: 20px;
   
   background: #4d5bf9;
   border-radius: 15px;
   border-left: 5px solid #4d5bf9;
   box-sizing: initial;
   transition: width 0.5s;
   width: 70px;
   overflow: hidden;
}

.nav__menu.active{
    width: 300px;
}

.nav__list{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding-left: 5px;
 padding-top: 40px;
}
.nav__item{
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav__link{

    position: relative;
    display: flex;
    color: white;

    
}

.nav__icon{
height: 60px;
min-width: 60px;
text-align: center;
line-height: 70px;
}


.nav__link ion-icon{
font-size: 1.5em;

}

.nav__link-span{
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    
}

.nav__item.active{
    background-color:white;
}

.nav__item.active a{
    color: black;
} 

.toogle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #4d5bf9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.toogle.active{
    background-color: #4d5bf9;
}

.toogle ion-icon{
    color: white;
    font-size: 34px;
    position: absolute;
    display: none;
}

.toogle ion-icon.open,
.toogle.active ion-icon.close{
    display: block;
}

.toogle ion-icon.close,
.toogle.active ion-icon.open{
    display: none;
}