* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}


.grid-container {
    display: grid;

    /* satırlara boyut vermek için */
    grid-template-rows: 1fr 1fr;
    /* sütünlara boyut vermek için  */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    /* kutuların arasına boşluk vermek için kullanılır */
    grid-gap: 20px;
    /* Yatayda Hizalamaya yarar */
    justify-content: center;
    /* Metni Ortalar */
    text-align: center;
    /* Dikeyde hizalama */
    align-content: center;
    padding: 170px;

}

.card {

    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 3px 8px 22px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 25px;
    font-size: 13px;
    position: relative;
    z-index: 0;
}

.card .back-ground-image {
    position: absolute;
    right: 100px;
    top: 0;
    z-index: -1;

}


.card .profile {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    font-size: 10px;
}

.profile-image {
    width: 25px;
    border: 1px solid rgb(194, 39, 194);
    border-radius: 50px;
    margin-right: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.user .name {
    font-weight: 400;
}

.user .job {
    opacity: 50%;
}

.card .title {
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
}

.card .description {
    opacity: 70%;
}



.item-1, .item-2, .item-5 {
    color: white;

}



/* -------------------------------------------------------------------------------------------------- */

.item-1 {
    background-color: hsl(263, 55%, 52%);
    grid-column-start: 1;
    grid-column-end: 3;


}

.item-2 {
    background-color: hsl(217, 19%, 35%);
}

.item-3 {
    background-color: hsl(0, 0%, 100%);
    /* grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: -4;
    grid-row-end: -2; */

    grid-column: 4;
    grid-row: 1 / 3;

}

.item-4 {
    background-color: hsl(0, 0%, 100%);

}

.item-5 {
    background-color: hsl(219, 29%, 14%);
    grid-column-start: 2;
    grid-column-end: 4;
}


/* -------------------------------------------------------------------------------------------------- */

@media screen and (max-width:768px) {

    .grid-container {
        padding: 20px;

    }
}

@media screen and (max-width:375px) {

    .grid-container {
        padding: 20px 10px;
        grid-template-rows: auto 1fr auto;
    }

    /* satırların 1.sütünda yer alıp alt alta gelmesi için kullanılır. */
    .card {
        grid-column: 1/end;

    }


    .card .back-ground-image {

        right: 20px;


    }
    .item-3{
        grid-row: 5 / 6;
        margin-top: 0;

    }

    /* 3.satır üste çıktığı için değiştirdim */



}

/* -------------------------------------------------------------------------------------------------- */